<%- include('header'); -%>

<h2>This is the about page</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est eum ipsum labore omnis dicta veritatis, ipsa aut quia nostrum esse commodi, magnam reiciendis ipsam dolor cumque excepturi enim. Fuga, ratione.</p>

<%- include('footer'); -%>